<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon standard -->
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
    <!-- Android Chrome -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon/android-chrome-512x512.png"
    />
    <!-- Manifest (PWA) -->
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body></body>
</html>
