<%- include("../partials/head", {
  title: "Liste des livres"
}) %>

<h1>Liste des livres</h1>

<% ingredients.map((ingredient) => { %>
  <li><%= ingredient.name %></li>
<% }) %> 

<%- include("../partials/footer") %>
