<%- include("../partials/head", { title: "Liste des livres" }) %>

<main>
  <h1>Ajout d'un formulaire</h1>

  <form action="" class="book-create-form">
    <label for="title" class="book-create-label">Titre du livre</label>
    <input id="title" type="text" name="title" class="book-create-input" />
    <button type="submit" class="book-create-button">Enregistrer</button>
  </form>
</main>

<%- include("../partials/footer") %>
