<%- include("../partials/head", { title: "Accueil bibliothèque" }) %>

<h1>Simplothèque Grenoble</h1>

<% if (isAuthenticated) { %>
<p>Bienvenue <%= name %> !</p>
<% } else { %>
<p>Bienvenue, inconnu(e).</p>
<% } %> <%- include("../partials/footer") %>
